#contact
{
    display: flex;
}

.titlebox{
    margin-top: 0;
}
/* LEFT SIDE */
#leftside
{
    position: sticky;
    top: 8vw;
    height: 30vw;
    width: 60vw;
}

.ask
{
    display: flex;
    flex-direction: column;
    margin: 2vw 8vw 3vw 8vw;
    justify-content: space-around;
    height: 28vw;
}

.ask h3
{

} 

.ask input
{   
    height: 2vw;
    border-radius: 1vh;
    border-style: inset;
    padding-left: 1vw;
}

#subject
{

}

#email
{

}

#category-select
{
    background-color: #DEDEDE;
    padding-left: 1vw;
    height: 2vw;
    border-style: inset;
    border-radius: 1vh;
}

#category-select option
{
    background: #DEDEDE;
    color: #212121;
}

#message
{
    padding-top: 0.5vw;
    border-radius: 1vh;
    border-style: inset;
    padding-left: 1vw;
}

.ask a
{  
    font-weight: bold;
    margin-left: 30vw;
    align-items: center;
    text-align: center;
    width: 9vw;
    background-color: #26AF5F;
    padding:  0.8vw 0 0.8vw 0;
    border-radius: 1vh;
}
    

/* RIGHT SIDE */

#rightside
{
   padding-top: 2vw;
   height: 105vw;
   width: 40vw;
   margin-right: 10vw;
}

.ourcenters
{
  display: flex;
  justify-content: center;
}

.ourcenters img
{
    background-color:darkslateblue;
    margin-top: 2vw;
    height: 10vw;
    width: 10vw;
    margin-bottom: 3vw;
}

.ourcenters h3
{
   color: #212121;
   padding-bottom: 2vw;
   font-size: 1.8vw;
}

.brandlogo
{
}

.ourcenters div 
{
    padding-left: 2vw;
}
.brandinfos
{
    margin-left: 2vw;
    padding-top: 3vw;
    text-align: center;
    margin-left: 2vw;
}
.city
{
    padding-top: 3vw;
    text-align: center;
    margin-left: 3vw;
}