body
{
    justify-content: center;
}
section
{
    margin-top: 9vw;
    flex-wrap: wrap;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.lessoncolorbox
{
    display: flex;
    flex-direction: row;
    background-color: cadetblue;
    height: 31vh;
    width: 15vw;
    margin: 2vw 5vw 2vw 5vw;
    border-radius: 2.5vh;
    font-size: 2vw;
}

.lessoncolorbox .infos
{
    color: #DEDEDE;
    margin-left: 2vw;
    margin-top: 20vh;
    transition: all 1s;
    width: 10vw;
}

.lessoncolorbox:hover .infos{
    margin-top: 3vh;
  }

.lessoncolorbox img
{
  opacity: 0;
  height: 6vh;
  width: auto;
  margin: 23vh 1vw 0 0;
  filter: invert(1);
  transition: all 1s;
}

.lessoncolorbox:hover img
{
   opacity: 1;
}


.title
{
    font-weight: bold;
}

.text
{
    font-size :1.5vw;
}