#lesson
{
    font-weight: bold;
    width: 95%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 2.5%;
}
h2
{
    color: #212121;
}
#lesson h2 
{
    text-align: center;
    font-size: 2em;
    margin-bottom: 50px;
    z-index: 999;
    top: 35px;
    position: sticky;
}

#row1
{
    display: flex;
}

#row2
{
    display: flex;
}