/*GENERAL*/

* { 
  margin: 0; 
  padding:0; 
  list-style: none;
  font-family: roboto;
  text-decoration:none;
}
a {
  color: #DEDEDE;
}
@font-face {
  font-family: "roboto";
  src: url("../public/Roboto-Regular.ttf") format("truetype");
}
body {
  background-color: #DEDEDE;
  width: 100%;
}
h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5vw;
  position:sticky;
  top: 3.5vh;
  z-index: 997;
  margin: 5vh;
  width: 30vw;
  margin-left: 35vw;
}

/*HEADER*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 92vw;
  top:0;
  background-color: #DEDEDE;
  padding: 3vh 4vw 3vh 4vw;
  z-index: 997;
}
.imglogo img {
  width: 20vw;
  height: auto;
  z-index: 999;
}
header ul {
  display: flex;
  width: 16vw;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2vw;
  font-weight: bold;
  z-index: 999;
}
.connexion a{
  background: #26AF5F;
  padding: 1vw;
  border-radius: 1vh;
  box-shadow: 0 0.8vh 0 #1e8c4c;
}
.connexion a:hover{
  background: #15c05c;
  box-shadow: 0 0.8vh 0 #109a4a;
}
.connexion a:focus{  
  position: relative;
  top: 1vh;
  background: #34a161;
  box-shadow: 0 0 0 #1e8c4c;
}
.inscription {
  filter: invert(1)
}

/*HOME*/

#home {
  display: flex;
  justify-content: space-evenly;
}
#home h2 
{
  display: none;
}
.homeleft {
  padding: 22vh 0 12vh 0;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50vw;
}
.titleintroduction {
  font-size: 3vw;
  font-weight: bold;
  margin-bottom: 4vh;
}
.txtintroduction {
  font-size:1.5vw;
  margin-bottom: 4vh;
}
.qualifications {
  margin: 2vh 1vw 2vh 0;
  display: flex;
  flex-direction: column;
  width: 40vw;
}
.imgqualifications {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2vh;
}
.qualifications img {
  height: auto;
  width: 4vw;
}
.txtqualifications {  
  display: flex;
}
.txtqualifications p{
  font-size: 1.5vw;
  font-weight: bold;
  width: 25vw;
}
.homeright {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30vw;
  margin: 11vh 2vw 0 0;
}
.homeright p {
  font-size: 2vw;
  margin-bottom: 5vh;
}
.homeright a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  width: 20vw;
  height: 9vh;
  margin-bottom: 5vh;
  background-color: #26AF5F;
  border-radius: 1vh;
  text-transform: uppercase;
  box-shadow: 0 1vh 0 #1e8c4c;
}
.homeright a:hover{
  background: #15c05c;
  box-shadow: 0 1vh 0 #109a4a;
}
.homeright a:focus{  
  position: relative;
  top: 1vh;
  background: #34a161;
  box-shadow: 0 0 0 #1e8c4c;
}

/*SERVICES - LESSON - INFORMATIONS */

.level {
  display: flex;
}
.colorbox {
  background-color: #26AF5F;
  display: flex;
  height: 32vh;
  width: 100vw;
  border-radius: 2vh;
  margin: 2vw 3vw 2vw 3vw;
  justify-content: end;
}
.colorbox p {
  font-size: 1.5vw;
  font-weight: bold;
  margin: 25.5vh 0 0 2vw;
  width: 100%;
  transition: all 1s;
}
.colorbox img {
  opacity: 0;
  height: 6vh;
  width: auto;
  margin: 24vh 2vw 0 0;
  filter: invert(1);
  transition: all 1s;
}
.colorbox:hover p{
  margin-top: 3vh;
}
.colorbox:hover img{
  opacity: 1;
}
#informations article a {
  height: 65vh;
  margin-bottom: 9vh;
}
#informations article a p {
  margin-top: 58vh;
}
#informations article a img {
  margin-top: 55.5vh;
}
.colorbox:hover p {
    transition: all 1s;
    margin-top: 3vh;
}
.colorbox:hover img {
    transition:all 1s ;
    opacity: 1;
}
#informations article a:hover p {
    transition: all 1s;
    margin-top: 3.2vh;
}

/*FOOTER*/

footer {
  background-color: #212121;
  color: #DEDEDE;
  display: flex;
  justify-content: space-between;
  padding: 0 2vw 0 2vw;
  font-size: 1vw;
  padding: 2vw 4vw 2vw 4vw;
  position: sticky;
  bottom: 0;
  font-weight: bold;
  z-index:999;
}
footer ul {
  display: flex;
  width: 20vw;
  justify-content: space-between;
  text-transform: uppercase;
}
