#ourselves
{
    font-weight: bold;
    width: 95%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 2.5%;
}
h2
{
    color: #212121;
}
#ourselves h2 
{
    text-align: center;
    font-size: 2em;
    margin-bottom: 50px;
    z-index: 999;
    top: 35px;
    position: sticky;
}

#line
{
    display: flex;
}
 
#ourselves .colorbox
{
    height: 450px;
    margin-bottom: 80px;
}

#ourselves .colorbox p
{
    color: #DEDEDE;
    font-size: 22px;
    margin-top: 370px;
    padding: 25px;
    transition: all 1s;
}

#ourselves .colorbox:hover p
{
    transition: all 0.5s;
    margin-top: 0;
}

#ourselves img
{
    margin-top: 380px;
    padding-left: 275px;
}