.titleheader
{
    margin-top: 0;
}

.sign_in_page
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vw;
    height:34vw ;
}

.sign_in_page h3
{
    color: #212121;
    margin-bottom: 1vw;
}

.sign_in_page input
{
    border: none;
    padding: 0.5vw;
    border-radius: 1vh;
    margin-bottom: 1vw;
    width: 13vw;
}

.gender_date
{
    display: flex;
    width: 28.5vw;
    justify-content: space-between;
}
.sign_in_page select
{
    border: none;
    padding: 0.5vw;
    border-radius: 1vh;
    margin-bottom: 1vw;
    width: 14vw;
}
.sign_in_page #date
{
    padding: 0.5vw;
    width: 13vw;
}

.sign_in_page a
{ 
    font-size: 1.5vw;
    font-weight: bold;
    align-items: center;
    text-align: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
    justify-content: center;
    width: 9vw;
    border-radius: 1vh;
    
    margin-top: 1.5vw;
  background: #26AF5F;
    
}