<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ORDINATIK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../styles/main.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../styles/contact.css"
    />
  </head>
  <body id="contactpage">
    <header>
      <a href="../view/index.html" class="imglogo">
        <img src="../public/ordinatik.png" alt="" />
      </a>
      <ul>
        <li class="connexion"><a href="../view/login.html">Connexion</a></li>
        <li class="inscription">
          <a href="../view/sign_in.html">Inscription</a>
        </li>
      </ul>
    </header>
    <h2 class="titlebox">Contact</h2>
    <section id="contact">
      <article id="leftside">
        <div class="ask">
          <h3>Vous avez une demande precise ?</h3>
          <input id="subject" type="text" placeholder="Sujet" />
          <input id="email" type="email" placeholder="Votre adresse email" />
          <select
            name="category"
            id="category-select"
            style="background-color: #dedede"
          >
            <option value="">Catégories</option>
            <option value="lorem">Lorem</option>
            <option value="ipsum">Ipsum</option>
            <option value="lorem">Lorem</option>
            <option value="ipsum">Ipsum</option>
            <option value="lorem">Lorem</option>
            <option value="ipsum">Ipsum</option>
          </select>
          <textarea
            id="message"
            rows="6"
            cols="40"
            placeholder="Ecrivez votre message..."
          ></textarea>
          <a href="">Envoyer</a>
        </div>
      </article>
      <article id="rightside">
        <div class="ourcenters">
          <img />
          <div class="brandinfos">
            <h3>Ordinatik</h3>
            <p>contact@ordinatik.com</p>
            <p>00.00.00.00.00</p>
          </div>
        </div>
        <div class="ourcenters">
          <img />
          <div class="city">
            <h3>Paris</h3>
            <p>000 rue Lorem Ipsum</p>
            <p>00.00.00.00.00</p>
          </div>
        </div>
        <div class="ourcenters">
          <img />
          <div class="city">
            <h3>Marseille</h3>
            <p>000 rue Lorem Ipsum</p>
            <p>00.00.00.00.00</p>
          </div>
        </div>
        <div class="ourcenters">
          <img />
          <div class="city">
            <h3>Bordeaux</h3>
            <p>000 rue Lorem Ipsum</p>
            <p>00.00.00.00.00</p>
          </div>
        </div>
        <div class="ourcenters">
          <img />
          <div class="city">
            <h3>Nantes</h3>
            <p>000 rue Lorem Ipsum</p>
            <p>00.00.00.00.00</p>
          </div>
        </div>
        <div class="ourcenters">
          <img />
          <div class="city">
            <h3>Strasbourg</h3>
            <p>000 rue Lorem Ipsum</p>
            <p>00.00.00.00.00</p>
          </div>
        </div>
        <div class="ourcenters">
          <img class="brandlogo" />
          <div class="city">
            <h3>Caen</h3>
            <p>000 rue Lorem Ipsum</p>
            <p>00.00.00.00.00</p>
          </div>
        </div>
      </article>
    </section>
    <footer>
      <p>Ordinatik © 2022 All rights reserved</p>
      <ul>
        <li><a href="../view/cgu.html">Cgu</a></li>
        <li><a href="../view/cgv.html">Cgv</a></li>
        <li><a href="../view/confidentiality.html">Confidentialité</a></li>
      </ul>
    </footer>
  </body>
</html>
