<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ORDINATIK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../styles/main.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../styles/detaillesson2.css"
    />
  </head>
  <body>
    <header>
      <a href="../view/index.html" class="imglogo">
        <img src="../public/ordinatik.png" alt="" />
      </a>
      <ul>
        <li class="connexion"><a href="../view/log_in.html">Connexion</a></li>
        <li class="inscription"><a href="">Inscription</a></li>
      </ul>
    </header>
    <h2 class="titleheader">Cours</h2>
    <section id="all">
      <section>
        <img class="contentbox" />
        <article class="content">
          <h3>1H de cours Agile - Avancé</h3>
          <div class="review">
            <img src="../public/star.svg" />
            <img src="../public/star.svg" />
            <img src="../public/star.svg" />
            <img src="../public/star.svg" />
            <img src="../public/star.svg" />
            <p>3 avis</p>
          </div>
          <div class="options">
            <a href="../view/detaillesson.html">Distance</a>
            <a href="" class="coloredone" style="color: #dedede">Atelier</a>
            <a href="../view/detaillesson3.html">Domicile</a>
          </div>
          <p></p>
          <div class="basket">
            <p>30€</p>
            <a href="">Ajouter</a>
          </div>
        </article>
      </section>
      <section id="lastsection">
        <h3>Produits similaires</h3>
        <article class="otherproducts"></article>
      </section>
    </section>
    <footer>
      <p>Ordinatik © 2022 All rights reserved</p>
      <ul>
        <li><a href="">Cgu</a></li>
        <li><a href="">Cgv</a></li>
        <li><a href="">Confidentialité</a></li>
      </ul>
    </footer>
  </body>
</html>
