<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ORDINATIK</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../styles/main.css'>
    <script src='main.js'></script>
</head>

<body>
    <header>
        <img src="../public/ordinatik.png" alt="" />
        <ul>
            <li class="btnconnexion">Connexion</li>
            <li>Inscription</li>
        </ul>
    </header>
    <section id="home">
        <article class="homeleft">
            <h1>Lorem ipsum dolor sit amet,<br /> consectetur adipiscing elit.</h1><br />
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br /> Ut ut lectus eleifend sapien
                malesuada feugiat.</p>
            <p class="text">Curabitur nec felis aliquet, vehicula elit vitae, luctus dolor.</p>
            <div class="qualifications">
                <div class="imgqualifications">
                    <img src="../public/skills.svg" alt="" />
                    <img src="../public/security.svg" alt="" />
                    <img src="../public/speed.svg" alt="" />
                    <img src="../public/price.svg" alt="" />
                </div>
                <div class="txtqualifications">
                    <p>Qualifié</p>
                    <p class="titlepicture">Sécurisé</p>
                    <p class="titlepicture">Rapide</p>
                    <p class="titlepicture">Economique</p>
                </div>
            </div>
        </article>
        <article class="homeright">
            <h3>Quel est votre besoin?</h3>
            <ul>
                <li>NOS SERVICES</li>
                <li>NOS COURS</li>
                <li>NOUS CONNAITRE</li>
            </ul>
        </article>
    </section>
    <section>
        <h2>NOS SERVICES</h2>
    </section>
    <section>
        <h2>NOS COURS</h2>
    </section>
    <section>
        <h2>NOUS CONNAITRE</h2>
    </section>
    <footer>
        <p>ORDINATIK © 2022 All rights reserved</p>
        <ul>
            <li>CGU</li>
            <li>CGV</li>
            <li>CONFIDENTIALITE</li>
        </ul>
    </footer>
</body>

</html>