<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ORDINATIK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../styles/main.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../styles/services.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../styles/lesson.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../styles/ourselves.css"
    />
    <script src="main.js"></script>
  </head>

  <body>
    <header>
      <img src="../public/ordinatik.png" alt="" />
      <ul>
        <li class="btnconnexion">Connexion</li>
        <li>Inscription</li>
      </ul>
    </header>
    <section id="home">
      <article class="homeleft">
        <h1>
          Lorem ipsum dolor sit amet,<br />
          consectetur adipiscing elit.
        </h1>
        <br />
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
          Ut ut lectus eleifend sapien malesuada feugiat.
        </p>
        <p class="text">
          Curabitur nec felis aliquet, vehicula elit vitae, luctus dolor.
        </p>
        <div class="qualifications">
          <div class="imgqualifications">
            <img src="../public/skills.svg" alt="" />
            <img src="../public/security.svg" alt="" />
            <img src="../public/speed.svg" alt="" />
            <img src="../public/price.svg" alt="" />
          </div>
          <div class="txtqualifications">
            <p>Qualifié</p>
            <p class="titlepicture">Sécurisé</p>
            <p class="titlepicture">Rapide</p>
            <p class="titlepicture">Economique</p>
          </div>
        </div>
      </article>
      <article class="homeright">
        <h3>Quel est votre besoin?</h3>
        <ul>
          <li>NOS SERVICES</li>
          <li>NOS COURS</li>
          <li>NOUS CONNAITRE</li>
        </ul>
      </article>
    </section>
    <section id="services">
        <h2>NOS SERVICES</h2>
      <div id="LV1">
        <div class="colorbox">
          <p>Installation de composants</p>
          <img src="../public/arrow.svg" alt="">
        </div>
        <div class="colorbox">
          <p>Installation d'un système</p>
          <img src="../public/arrow.svg" alt="">
        </div>
        <div class="colorbox">
          <p>Configuration d'un système</p>
          <img src="../public/arrow.svg" alt="">
        </div>
      </div>
      <div id="LV2">
        <div class="colorbox">
          <p>Réalisation d'une configuration</p>
          <img src="../public/arrow.svg" alt="">
        </div>
        <div class="colorbox">
          <p>Montage d'un PC</p>
          <img src="../public/arrow.svg" alt="">
        </div>
      </div>
      <div id="LV3">
        <div class="colorbox">
          <p>Dépannage à distances</p>
          <img src="../public/arrow.svg" alt="">
        </div>
        <div class="colorbox">
          <p>Dépannage à domicile</p>
          <img src="../public/arrow.svg" alt="">
        </div>
        <div class="colorbox">
          <p>Dépannage à l'atelier</p>
          <img src="../public/arrow.svg" alt="">
        </div>
        </div>
        <div id="LV4">
          <div class="colorbox">
            <p>Abonnements</p>
            <img src="../public/arrow.svg" alt="">
          </div>
          <div class="colorbox">
            <p>Devis</p>
            <img src="../public/arrow.svg" alt="">
          </div>
        </div>
      </div>
    </section>
    <section id="lesson">
      <h2>NOS COURS</h2>
      <div id="row1">
      <div class="colorbox">
        <p>Bureautique</p>
        <img src="../public/arrow.svg" alt="">
      </div>
      <div class="colorbox">
        <p>Développement</p>
        <img src="../public/arrow.svg" alt="">
      </div>
      <div class="colorbox">
        <p>Projets</p>
        <img src="../public/arrow.svg" alt="">
      </div>
      </div>
      <div id="row2">
      <div class="colorbox">
        <p>Internet</p>
        <img src="../public/arrow.svg" alt="">
      </div>
      <div class="colorbox">
        <p>Matériel</p>
        <img src="../public/arrow.svg" alt="">
      </div>
      <div class="colorbox">
        <p>Logiciel</p>
        <img src="../public/arrow.svg" alt="">
      </div>
    </div>
    </div>
    </section>
    <section id="ourselves">
      <h2>NOUS CONNAITRE</h2>
      <div id="line">
        <div class="colorbox">
          <p>Equipe</p>
          <img src="../public/arrow.svg" alt="">
        </div>
        <div class="colorbox">
          <p>FAQ</p>
          <img src="../public/arrow.svg" alt="">
        </div>
        <div class="colorbox">
          <p>Contact</p>
          <img src="../public/arrow.svg" alt="">
        </div>
      </div>
    </section>
    <footer>
      <p>ORDINATIK © 2022 All rights reserved</p>
      <ul>
        <li>CGU</li>
        <li>CGV</li>
        <li>CONFIDENTIALITE</li>
      </ul>
    </footer>
  </body>
</html>
