<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ORDINATIK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../styles/main.css"
    />
    <script src="../script/main.js"></script>
  </head>
  <body>
    <header>
      <a href="../view/index.html" class="imglogo">
        <img src="../public/ordinatik.png" alt="" />
      </a>
      <ul>
        <li class="connexion"><a href="">Connexion</a></li>
        <li class="inscription"><a href="">Inscription</a></li>
      </ul>
    </header>
    <section id="home">
      <h2 class="titlehome">Home</h2>
      <article class="homeleft">
        <div class="introduction">
          <p class="titleintroduction">
            Lorem ipsum dolor sit amet,<br />
            consectetur adipiscing elit.
          </p>
          <p class="txtintroduction">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
            Ut ut lectus eleifend sapien malesuada feugiat.
          </p>
          <p class="txtintroduction">
            Curabitur nec felis aliquet, vehicula elit vitae, luctus dolor.
          </p>
        </div>
        <div class="qualifications">
          <div class="imgqualifications">
            <img src="../public/skills.svg" alt="" />
            <img src="../public/security.svg" alt="" />
            <img src="../public/speed.svg" alt="" />
            <img src="../public/price.svg" alt="" />
          </div>
          <div class="txtqualifications">
            <p>Qualifié</p>
            <p>Sécurisé</p>
            <p>Rapide</p>
            <p>Economique</p>
          </div>
        </div>
      </article>
      <article class="homeright">
        <p>Quel est votre besoin ?</p>
        <a href="#services">Nos services</a>
        <a href="#lesson">Nos cours</a>
        <a href="#informations">Nous connaître</a>
      </article>
    </section>
    <section id="services">
      <h2>Nos Services</h2>
      <article class="level">
        <a href="../view/shop.html" class="colorbox">
          <p>Installation de composants</p>
          <img src="../public/arrow.svg" alt="" />
        </a>
        <a href="../view/shop.html" class="colorbox">
          <p>Installation d'un système</p>
          <img src="../public/arrow.svg" alt="" />
        </a>
        <a href="../view/shop.html" class="colorbox">
          <p>Configuration d'un système</p>
          <img src="../public/arrow.svg" alt="" />
        </a>
      </article>
      <article class="level">
        <a href="../view/shop.html" class="colorbox">
          <p>Réalisation d'une configuration</p>
          <img src="../public/arrow.svg" alt="" />
        </a>
        <a href="../view/shop.html" class="colorbox">
          <p>Montage d'un PC</p>
          <img src="../public/arrow.svg" alt="" />
        </a>
      </article>
      <article class="level">
        <a href="../view/shop.html" class="colorbox">
          <p>Dépannage à distances</p>
          <img src="../public/arrow.svg" alt="" />
        </a>
        <a href="../view/shop.html" class="colorbox">
          <p>Dépannage à domicile</p>
          <img src="../public/arrow.svg" alt="" />
        </a>
        <a href="../view/shop.html" class="colorbox">
          <p>Dépannage à l'atelier</p>
          <img src="../public/arrow.svg" alt="" />
        </a>
      </article>
      <article class="level">
        <a href="" class="colorbox">
          <p>Abonnements</p>
          <img src="../public/arrow.svg" alt="" />
        </a>
        <a href="../view/devis.html" class="colorbox">
          <p>Devis</p>
          <img src="../public/arrow.svg" alt="" />
        </a>
      </article>
    </section>
    <section id="lesson">
      <h2>Nos Cours</h2>
      <article class="level">
        <a href=" " class="colorbox">
          <p>Bureautique</p>
          <img src="../public/arrow.svg" alt="" />
        </a>
        <a href=" " class="colorbox">
          <p>Développement</p>
          <img src="../public/arrow.svg" alt="" />
        </a>
        <a href=" " class="colorbox">
          <p>Projets</p>
          <img src="../public/arrow.svg" alt="" />
        </a>
      </article>
      <article class="level">
        <a href=" " class="colorbox">
          <p>Internet</p>
          <img src="../public/arrow.svg" alt="" />
        </a>
        <a href=" " class="colorbox">
          <p>Matériel</p>
          <img src="../public/arrow.svg" alt="" />
        </a>
        <a href=" " class="colorbox">
          <p>Logiciel</p>
          <img src="../public/arrow.svg" alt="" />
        </a>
      </article>
    </section>
    <section id="informations">
      <h2>Nous Connaître</h2>
      <article class="level">
        <a href=" " class="colorbox">
          <p>Equipe</p>
          <img src="../public/arrow.svg" alt="" />
        </a>
        <a href=" " class="colorbox">
          <p>FAQ</p>
          <img src="../public/arrow.svg" alt="" />
        </a>
        <a href=" " class="colorbox">
          <p>Contact</p>
          <img src="../public/arrow.svg" alt="" />
        </a>
      </article>
    </section>
    <footer>
      <p>Ordinatik © 2022 All rights reserved</p>
      <ul>
        <li><a href="">Cgu</a></li>
        <li><a href="">Cgv</a></li>
        <li><a href="">Confidentialité</a></li>
      </ul>
    </footer>
  </body>
</html>
