<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ORDINATIK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../styles/lesson.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../styles/main.css"
    />
  </head>
  <body>
    <header>
      <a href="../view/index.html" class="imglogo">
        <img src="../public/ordinatik.png" alt="" />
      </a>
      <ul>
        <li class="connexion"><a href="">Connexion</a></li>
        <li class="inscription"><a href="">Inscription</a></li>
      </ul>
    </header>
    <section>
      <a href="">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
      </a>
      <a href="">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
      </a>
      <a href="">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
      </a>
      <a href="">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
      </a>
      <a href="">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
      </a>
      <a href="">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
      </a>
      <a href="">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
      </a>
      <a href="">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
      </a>
      <a href="">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
      </a>
      <a href="">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
      </a>
      <a href="">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
      </a>
      <a href="">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
      </a>
      <a href="">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
      </a>
      <a href="">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
      </a>
      <a href="">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
      </a>
      <a href="">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
      </a>
      <a href="">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
      </a>
      <a href="">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
      </a>
      <a href="">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
      </a>
      <a href="">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
      </a>
      <a href="">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
      </a>
      <a href="">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
      </a>
      <a href="">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
      </a>
      <a href="">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
      </a>

      <a href="">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
      </a>
      <a href="">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
      </a>
      <a href="">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
      </a>
      <a href="">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
      </a>
      <a href="">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
      </a>
      <a href="">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
      </a>
      <a href="">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
      </a>
      <a href="">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
      </a>
    </section>
    <footer>
      <p>Ordinatik © 2022 All rights reserved</p>
      <ul>
        <li><a href="">Cgu</a></li>
        <li><a href="">Cgv</a></li>
        <li><a href="">Confidentialité</a></li>
      </ul>
    </footer>
  </body>
</html>
