<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ORDINATIK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../styles/lesson.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../styles/main.css"
    />
  </head>
  <body>
    <header>
      <a href="../view/index.html" class="imglogo">
        <img src="../public/ordinatik.png" alt="" />
      </a>
      <ul>
        <li class="connexion"><a href="../view/login.html">Connexion</a></li>
        <li class="inscription">
          <a href="../view/sign_in.html">Inscription</a>
        </li>
      </ul>
    </header>
    <section>
      <a href="../view/detaillesson.html" class="lessoncolorbox">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
        <img src="../public/arrow.svg" alt="" />
      </a>
      <a href="../view/detaillesson.html" class="lessoncolorbox">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
        <img src="../public/arrow.svg" alt="" />
      </a>
      <a href="../view/detaillesson.html" class="lessoncolorbox">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
        <img src="../public/arrow.svg" alt="" />
      </a>
      <a href="../view/detaillesson.html" class="lessoncolorbox">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
        <img src="../public/arrow.svg" alt="" />
      </a>
      <a href="../view/detaillesson.html" class="lessoncolorbox">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
        <img src="../public/arrow.svg" alt="" />
      </a>
      <a href="../view/detaillesson.html" class="lessoncolorbox">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
        <img src="../public/arrow.svg" alt="" />
      </a>
      <a href="../view/detaillesson.html" class="lessoncolorbox">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
        <img src="../public/arrow.svg" alt="" />
      </a>
      <a href="../view/detaillesson.html" class="lessoncolorbox">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
        <img src="../public/arrow.svg" alt="" />
      </a>
      <a href="../view/detaillesson.html" class="lessoncolorbox">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
        <img src="../public/arrow.svg" alt="" />
      </a>
      <a href="../view/detaillesson.html" class="lessoncolorbox">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
        <img src="../public/arrow.svg" alt="" />
      </a>
      <a href="../view/detaillesson.html" class="lessoncolorbox">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
        <img src="../public/arrow.svg" alt="" />
      </a>
      <a href="../view/detaillesson.html" class="lessoncolorbox">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
        <img src="../public/arrow.svg" alt="" />
      </a>
      <a href="../view/detaillesson.html" class="lessoncolorbox">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
        <img src="../public/arrow.svg" alt="" />
      </a>
      <a href="../view/detaillesson.html" class="lessoncolorbox">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
        <img src="../public/arrow.svg" alt="" />
      </a>
      <a href="../view/detaillesson.html" class="lessoncolorbox">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
        <img src="../public/arrow.svg" alt="" />
      </a>
      <a href="../view/detaillesson.html" class="lessoncolorbox">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
        <img src="../public/arrow.svg" alt="" />
      </a>
      <a href="../view/detaillesson.html" class="lessoncolorbox">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
        <img src="../public/arrow.svg" alt="" />
      </a>
      <a href="../view/detaillesson.html" class="lessoncolorbox">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
        <img src="../public/arrow.svg" alt="" />
      </a>
      <a href="../view/detaillesson.html" class="lessoncolorbox">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
        <img src="../public/arrow.svg" alt="" />
      </a>
      <a href="../view/detaillesson.html" class="lessoncolorbox">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
        <img src="../public/arrow.svg" alt="" />
      </a>
      <a href="../view/detaillesson.html" class="lessoncolorbox">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
        <img src="../public/arrow.svg" alt="" />
      </a>
      <a href="../view/detaillesson.html" class="lessoncolorbox">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
        <img src="../public/arrow.svg" alt="" />
      </a>
      <a href="../view/detaillesson.html" class="lessoncolorbox">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
        <img src="../public/arrow.svg" alt="" />
      </a>
      <a href="../view/detaillesson.html" class="lessoncolorbox">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
        <img src="../public/arrow.svg" alt="" />
      </a>

      <a href="../view/detaillesson.html" class="lessoncolorbox">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
        <img src="../public/arrow.svg" alt="" />
      </a>
      <a href="../view/detaillesson.html" class="lessoncolorbox">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
        <img src="../public/arrow.svg" alt="" />
      </a>
      <a href="../view/detaillesson.html" class="lessoncolorbox">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
        <img src="../public/arrow.svg" alt="" />
      </a>
      <a href="../view/detaillesson.html" class="lessoncolorbox">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
        <img src="../public/arrow.svg" alt="" />
      </a>
      <a href="../view/detaillesson.html" class="lessoncolorbox">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
        <img src="../public/arrow.svg" alt="" />
      </a>
      <a href="../view/detaillesson.html" class="lessoncolorbox">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
        <img src="../public/arrow.svg" alt="" />
      </a>
      <a href="../view/detaillesson.html" class="lessoncolorbox">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
        <img src="../public/arrow.svg" alt="" />
      </a>
      <a href="../view/detaillesson.html" class="lessoncolorbox">
        <div class="infos">
          <p class="title">Cours</p>
          <p class="text">Niveau</p>
        </div>
        <img src="../public/arrow.svg" alt="" />
      </a>
    </section>
    <footer>
      <p>Ordinatik © 2022 All rights reserved</p>
      <ul>
        <li><a href="../view/cgu.html">Cgu</a></li>
        <li><a href="../view/cgv.html">Cgv</a></li>
        <li><a href="../view/confidentiality.html">Confidentialité</a></li>
      </ul>
    </footer>
  </body>
</html>
