<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ORDINATIK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../styles/main.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../styles/log_in.css"
    />
  </head>
  <body>
    <header>
      <a href="../view/index.html" class="imglogo">
        <img src="../public/ordinatik.png" alt="" />
      </a>
      <ul>
        <li class="connexion" style="visibility: hidden">
          <a href="">Connexion</a>
        </li>
        <li class="inscription" style="background: #26af5f; filter: invert(0)">
          <a href="">Inscription</a>
        </li>
      </ul>
    </header>
    <h2 class="titleheader">Connexion</h2>
    <section>
      <article class="log_in_page">
        <h3>Adresse email</h3>
        <input type="email" id="email" placeholder="Adresse Email" />
        <h3>Mot de passe</h3>
        <input type="password" id="password" placeholder="Mot de passe" />
        <a href="">Valider</a>
      </article>
    </section>
    <footer>
      <p>Ordinatik © 2022 All rights reserved</p>
      <ul>
        <li><a href="">Cgu</a></li>
        <li><a href="">Cgv</a></li>
        <li><a href="">Confidentialité</a></li>
      </ul>
    </footer>
  </body>
</html>
