<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ORDINATIK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../styles/main.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../styles/quote.css"
    />
  </head>
  <body>
    <header>
      <a href="../view/index.html" class="imglogo">
        <img src="../public/ordinatik.png" alt="" />
      </a>
      <ul>
        <li class="connexion"><a href="Connexion">Connexion</a></li>
        <li class="inscription"><a href="">Inscription</a></li>
      </ul>
    </header>
    <section id="all">
      <section>
        <img class="contentbox" />
        <article class="content">
          <h3>Devis</h3>
          <div class="review">
            <img src="../public/star.svg" />
            <img src="../public/star.svg" />
            <img src="../public/star.svg" />
            <img src="../public/star.svg" />
            <img src="../public/star.svg" />
            <p>3 avis</p>
          </div>
          <textarea
            id="text"
            rows="2"
            cols="60"
            placeholder="Ecrivez ici..."
          ></textarea>
          <div class="send">
            <a href="">Envoyer</a>
          </div>
        </article>
      </section>
      <section id="lastsection">
        <h3>Produits similaires</h3>
        <article class="otherproducts">
          <a href="../view/subscribe.html">
            <img />
            <p>Abonnements</p>
          </a>
        </article>
      </section>
    </section>
    <footer>
      <p>Ordinatik © 2022 All rights reserved</p>
      <ul>
        <li><a href="">Cgu</a></li>
        <li><a href="">Cgv</a></li>
        <li><a href="">Confidentialité</a></li>
      </ul>
    </footer>
  </body>
</html>
