<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ORDINATIK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../styles/main.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../styles/subscribe3.css"
    />
  </head>
  <body>
    <header>
      <a href="../view/index.html" class="imglogo">
        <img src="../public/ordinatik.png" alt="" />
      </a>
      <ul>
        <li class="connexion"><a href="Connexion">Connexion</a></li>
        <li class="inscription"><a href="">Inscription</a></li>
      </ul>
    </header>
    <section id="all">
      <section>
        <img class="contentbox" />
        <article class="content">
          <h3>Abonnements</h3>
          <div class="review">
            <img src="../public/star.svg" />
            <img src="../public/star.svg" />
            <img src="../public/star.svg" />
            <img src="../public/star.svg" />
            <img src="../public/star.svg" />
            <p>3 avis</p>
          </div>
          <div class="options">
            <a href="../view/subscribe.html">Starter</a>
            <a href="../view/subscribe2.html">Fabuleux</a>
            <a href="" class="coloredone" style="color: #dedede">Légendaire</a>
          </div>
          <p>Toutes les prestations en illimitées</p>
          <div class="basket">
            <p>200€/mois</p>
            <a href="">Ajouter</a>
          </div>
        </article>
      </section>
      <section id="lastsection">
        <h3>Produits similaires</h3>
        <article class="otherproducts">
          <a href="../view/quote.html">
            <img />
            <p>Devis</p>
          </a>
        </article>
      </section>
    </section>
    <footer>
      <p>Ordinatik © 2022 All rights reserved</p>
      <ul>
        <li><a href="../view/cgu.html">Cgu</a></li>
        <li><a href="../view/cgv.html">Cgv</a></li>
        <li><a href="../view/confidentiality.html">Confidentialité</a></li>
      </ul>
    </footer>
  </body>
</html>
